%h1 Gems Summary

%p
  %a{:href => @feed_url} RSS feed
  showing each day all the gems newly released and updated on
  %a{:href => "http://rubygems.org"} RubyGems

%p
  Source code is on
  %a{:href => "https://github.com/Florent2/gems-summary"} GitHub

%p Summaries for the latest days:
%ul
  - @latest_dates.each do |date|
    %li
      %a{:href => "/#{date.to_s}"}= date
