!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{:name => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title Gems Summary
    %style{:type => "text/css"}
      ol {margin-bottom: 40px;}
      li {margin-bottom: 20px;}
      li:hover {background-color: #F0FFF0;}
  %body
    = yield
